html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
    margin-top: 0;
}
@font-face {
    font-family: "Open Sans", serif;
    src: local("Inter-Regular"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Open Sans", serif;
    src: local("Inter-Light-BETA"), url("../fonts/Inter-Light-BETA.woff") format("woff"), url("../fonts/Inter-Light-BETA.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Open Sans", serif;
    src: local("Inter-LightItalic-BETA"), url("../fonts/Inter-LightItalic-BETA.woff") format("woff"), url("../fonts/Inter-LightItalic-BETA.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Open Sans", serif;
    src: local("Inter-ExtraLight-BETA"), url("../fonts/Inter-ExtraLight-BETA.woff") format("woff"), url("../fonts/Inter-ExtraLight-BETA.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 200;
}
img {
    max-width: 100%;
}
:root {
    --color-1: #010101;
    --color-2: #B8380A;
    --color-3: #D2CCCC;
}
body {
    /*max-width: 1920px;*/
    font-family: 'font', sans-serif;
    background: var(--color-1);
    font-family: "Open Sans";
    font-weight: 300;
}
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.container {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 75px;
    padding-right: 75px;
    
}

.flex {
    display: flex;
}
.header__logo {
    width: 60px;
    height: 56px;
}
.block {
    margin-left: auto;
  margin-right: auto;
}
.header {
    margin-top: 40px;
    
}
.header__nav {
    margin-left: auto;
    margin-top: 30px;
    color: var(--color-3);
    font-weight: 300;
    font-size: 15px;
    line-height: 23px;
}
.header__list-item:not(:last-child) {
    margin-right: 85px;
}


.header__container {
    min-height: 100px;
    align-items: center;
    background-color: var(--color-1);
    padding-left: 75px;
    padding-right: 75px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.about__inside {
    position: relative;
    min-height: 600px;
}
.about__content {
    width: 65%;
    padding-top: 60px;
}
.about__content-text {
    display: block
}
.about__content-text:before {
    content: "";
    position: absolute;
    width: 35%;
    background-image: url(../images/header-img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    top: 9px;
    
}
.about_text {
    color: var(--color-3);
    font-weight: 200;
    font-size: 30px;
    line-height: 40px;
}
.quote__text {
    color: var(--color-3);
    font-weight: 200;
    font-size: 20px;
    line-height: 30px; 
    max-width: 400px;
    right: auto;
    display: block;
    margin-left: auto;
}
.main-quote {
    padding-top: 45px;
    position: relative;  
    min-height: 200px;
}

.quote__text:before {
    content: "";
    position: absolute;
    width: 40%;
    background-image: url(../images/header-outline.png);
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: 0;
    right: 30px;
    top: 0px;
    padding-top: 5px;
    
}

.gallery__box {
    background-image: url(../images/gallery-back.png);
    min-height: 500px;
    background-repeat: no-repeat;
   
}


.slider-container {
    
    position: relative;
    width: 700px;
    
    margin: 0 auto;
    overflow: hidden;
  }
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }  
  .prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
.gallery__left {
    padding-left: 75px;
    padding-right: 75px;
}
.gallery__back {
    display: flex;
        align-items: center;
        justify-content: space-between;
}
.gallery__right {
    padding-right: 100px;
    min-height: 700px;
    padding-top: 250px;
}
.gallery__title {
    color: var(--color-3);
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    top: 0;
    position: relative;
    min-height: 150px;
    z-index: 1;
    font-style: italic;

}
.gallery__title:before {
   
        content: "";
        position: absolute;
        width: 70%;
        background-image: url(../images/orange-blur.png);
        background-size: 100%;
        background-repeat: no-repeat;
        bottom: 0;
       top: -70px;
       left: 60px;
       z-index: -1;
}

.gallery__list {
    flex-direction: column;
}
.gallery__list-item {
    color: var(--color-3);
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    
}
.gallery__list-item:not(:last-child) {
    margin-right: 85px;
    margin-bottom: 50px;
}
.merch__img {
width: 60%;

position: relative;
}

.merch_content {
 min-height: 1000px;
 flex-direction: column;
}
.merch__title {
    color: var(--color-3);
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    top: 0;
    position: relative;
    min-height: 150px;
    z-index: 1;  
    left: 150px;
    top: 100px;
    font-style: italic;
}
.merch__title:before {
    content: "";
    position: absolute;
    width: 15%;
    background-image: url(../images/orange-blur.png);
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: 0;
   top: -70px;
   left: -70px;
   z-index: -1;
}
.merch__box {
   
}
.merch__goods {
    flex-direction: column;
}
.merch__link  {
    color: var(--color-3);
    font-weight: 400;
    font-size: 25px;
    
    line-height: 35px;
}
.item1 {
    position: relative;
}
.item1:before {
    content: "";
    position: absolute;
    width: 100%;
    background-image: url(../images/goods-clothes.png);
    background-size: 100%;
    background-repeat: no-repeat;

   

}
.merch__goods-item {
    min-height: 300px;
}